*{
    margin : 0;
    padding: 0;
    box-sizing : border-box;
}
.container{
    max-width: 1368px;
    
}
.top{
    position : fixed;
    z-index : 99;
    width : 100%;
    background-color: rgb(53, 23, 226);
}
nav{
    flex : 1;
}
ul li{
    padding-top: 5px;
    display: inline-block;
    list-style: none;
    padding-right: 10px;
    font-size : 14px;
}
.top ul li:hover{
    background-color: white;
   
    padding: 10px 30px;
}
.top ul li:hover a{
    text-decoration: none;
    color : rgb(194, 31, 209);
}
nav a{
    color :  white;
    text-decoration: none;
    font-weight : bolder;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.home{
    position :  relative;
    padding-top: 70px;
  text-align: center;

}
.home h3{
    color :rgb(53, 23, 226);
}
.home h5{
    color :rgb(120, 33, 128);
}
.mySlides{
    display: none;
}
.mySlides img{
    width : 400px;
    height : 400px;
}
.about{
    width : 100%;
    
    padding-top: 90px;
    background: url('images.jpg')  center/cover no-repeat;
    text-align: center;
    color : white;
    padding-bottom: 50px;
}
.about:hover{
    background: url('hover.jpg')  center/cover no-repeat;
    transition: 1s;
}
.about h2{
    padding-bottom: 30px;
}
.product{
padding-top: 90px;
}
.card{
    margin-bottom : 20px;
    height : 310px;
}
.cost{
    margin-left : 40%;
}

.card img{
    width : 100%;
    height : 100%;
}
.carousel-control-prev{
    color : black;
}
.product .col-sm-12{
    text-align: center;
}
#lenImg, #hpImg , #asImg, #delImg, #sumImg, #redImg, #viImg, #symImg{
    cursor: pointer;
    width : 200px;
    height : 200px;
}
.product h1{
    padding-top: 30px;
    padding-bottom: 30px;
}
.product:hover{
background: url('black.jpg') no-repeat center/cover;
}
.product:hover small{
    color : white;
}
.product:hover h1{
    color : white;
}
.team h1{
    text-align: center;
    padding-bottom: 40px;
    padding-top: 40px;
}
.team:hover{
    background: url('blue.jpg') center/cover no-repeat;
    transition: 2s;
}
.team{
    background-color: black;
    color : white;
}
.small{
    text-align: center;
}
.row{
    display : flex;
    justify-content: center;
    text-align: center;
}
.contact h1{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    color :rgb(194, 31, 209);
}
.contact{
    padding-top: 40px;
    padding-bottom: 50px;
    color : darkblue;
    background: url('white.jpg') center/cover no-repeat;
}
.contact:hover{
    transition: 2s;
    color : darkblue;
    background: url('white1.jpg') center/cover no-repeat;
}
.rights{
    background-color: black;
    color : white;
    padding-top: 20px;
    padding-bottom: 20px;
}
span{
    padding-left: 5px;
}